* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-gap: 20px;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

h1 {
  padding: 5px;
  text-align: center;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
}

nav li {
  padding: 10px;
  font-family: "Poppins", sans-serif;
}

.album-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
}

.album-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transition: all 0.1s;
  background-size: cover;
}
.album-list li:nth-child(1) div {
  background-image: url(./images/MC-cover.png);
}
.album-list li:nth-child(2) div {
  background-image: url(./images/Last-Christmas-Wham.png);
}
.album-list li:nth-child(3) div {
  background-image: url(./images/Home_for_Christmas_nsync.png);
}
.album-list li:nth-child(4) div {
  background-image: url(./images/Christmas-Buble.png);
}

.album-list li:nth-child(5) div {
  background-image: url(./images/Kidz-Bob-Christmas.png);
}
.album-pic:hover {
  transform: scale(1.1);
}
