* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-gap: 20px;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

h1 {
  padding: 5px;
  text-align: center;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
}

nav li {
  padding: 10px;
  font-family: "Poppins", sans-serif;
}
