@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

:root {
  --color1-bottle-green: hsla(154, 73%, 38%, 1);
  --color2-sizzling-red: rgb(255, 53, 67);
  --color3-white: hsla(0, 0%, 100%, 1);
  --color4-dim-gray: hsla(240, 2%, 41%, 1);
  --color5-gainsboro: hsla(207, 4%, 91%, 1);
  --color6-rich-black: #050609;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}
.container {
  /* background-color: var(--color1-bottle-green); */
}

h1 {
  font-family: "Courgette", cursive;
}

nav {
  background-color: var(--color2-sizzling-red);
}
.album-name {
  color: var(--color6-rich-black);
  display: inline-block;
  margin-top: 20px;
  font-size: 20pt;
  font-family: "Poppins", sans-serif;
  word-wrap: break-word;
  max-width: 200px;
}
.album-list li:hover span {
  font-weight: bolder;
  text-shadow: 0 -2px 2px aliceblue;
}

.album-list li:hover div {
  box-shadow: 0 -2px 2px aliceblue, 0 0 2px aliceblue inset;
  filter: grayscale(0.7);
}

.album-img {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.album-songlist {
  list-style-position: inside;
  border: 1px solid var(--color6-rich-black);
  border-radius: 20px;
  background-color: var(--color5-gainsboro);
}
.album-songlist li {
  padding-right: 40px;
  padding-left: 40px;
}
.album-songlist li:nth-child(even) {
  background-color: var(--color5-gainsboro);
}
.album-songlist li:nth-child(odd) {
  background-color: lightgray;
}

.album-songlist li:first-child {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.album-songlist li:last-child {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.album ol,
.album ul {
  font-size: 20pt;
}

.album-songlist li:hover .close {
  background-color: var(--color2-sizzling-red);
  visibility: visible;
  border-radius: 50%;
  line-height: 40px;
  font-family: "Poppins";
  font-weight: bolder;
  font-size: 17pt;
  cursor: pointer;
  text-align: center;
}

.album-songlist a {
  text-decoration: none;
  width: 100%;
}

.album-songlist li:hover {
  font-weight: bolder;
  background-color: rgba(255, 53, 67, 0.4);
}

.album-songlist .close {
  visibility: hidden;
  display: none;
}

.add-song {
  font-size: 20pt;
  font-weight: bolder;
  border-radius: 50%;
  background-color: var(--color3-white);
  cursor: pointer;
}

.add-song:hover {
  box-shadow: 2px 2px 2px var(--color6-rich-black);
}

.add-song::after {
  content: " Add Song";

  text-align: left;
}

.add-song:hover::after {
  text-shadow: 0 -2px 2px aliceblue;
}

.add-song .form-container {
  background-color: var(--color5-gainsboro);
  padding: 5px 20px;
  margin-top: 10px;
  border-radius: 20px;
}

.add-song input:first-child {
  text-indent: 10px;
  width: 500px;
}

.add-song button {
  padding: 2px 25px;
  margin: 0 50px;
}

.add-song #song-duration {
  width: 50px;
  text-align: center;
}

.add-song label {
  font-size: 12pt;
  margin-right: 10px;
}
