.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-gap: 20px;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

h1 {
  padding: 5px;
  text-align: center;
}

.album-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
}

main {
  display: flex;
  flex-direction: row;
}

main ul {
  padding: 20px;
  width: 70vw;
  justify-content: space-evenly;
}

main ul li {
  padding: 10px;
}

main ul li:first-of-type {
  margin-left: 150px;
}

main ul li:last-of-type {
  margin-right: 150px;
}

.album-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transition: all 0.1s;
  background-size: cover;
}
.album-list li:nth-child(1) div {
  background-image: url(/src/images/MC-cover.png);
}
.album-list li:nth-child(2) div {
  background-image: url(/src/images/merry-christmas-ii-you.png);
}
.album-list li:nth-child(3) div {
  background-image: url(/src/images/Home_for_Christmas_nsync.png);
}
.album-list li:nth-child(4) div {
  background-image: url(/src/images/Christmas-Buble.png);
}

.album-list li:nth-child(5) div {
  background-image: url(/src/images/Kidz-Bob-Christmas.png);
}
.album-pic:hover {
  transform: scale(1.1);
}
.artist-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transition: all 0.1s;
  background-size: cover;
  background-image: url(/src/images/MC.jpeg);
  margin: 0 auto;
}