.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-gap: 20px;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

h1 {
  padding: 5px;
  text-align: center;
}

.album-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
}

main {
  display: flex;
  flex-direction: row;
}

main ul {
  padding: 20px;
  width: 70vw;
  justify-content: space-evenly;
}

main ul li {
  padding: 10px;
  position: relative;
}

main ul li:first-of-type {
  margin-left: 150px;
}

main ul li:last-of-type {
  margin-right: 150px;
}

.album-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transition: all 0.1s;
  background-size: cover;
  position: relative;
}
.album-list li:nth-child(1) div {
  background-image: url(/src/images/MC-cover.png);
}
.album-list li:nth-child(2) div {
  background-image: url(/src/images/merry-christmas-ii-you.png);
}

.album-pic:hover {
  transform: scale(1.1);
}
.artist-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transition: all 0.1s;
  background-size: cover;
  background-image: url(/src/images/MC.jpeg);
  margin: 0 auto;
}

.album-list li:last-of-type .add-plus {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.add-album {
  height: 100px;
  position: relative;
  border-radius: 15px;
  display: none;
  padding: 10px;
}

.add-album form {
  position: absolute;
  top: 10px;
  left: 10px;
}

.add-album input {
  text-align: center;
  display: block;
  margin: 0;
  padding: 0;
}

.add-album input:nth-child(2) {
  display: inline-block;
}

.add-album button {
  /* position: absolute;
  top: 105px;
  left: 10px; */
  width: 180px;
}

.album-list li:last-of-type:hover .add-album {
  display: block;
}

.album-list li:hover .close {
  position: absolute;
  display: block;
  height: 40px;
  width: 40px;
  z-index: 100;
  right: -10px;
  top: -10px;
}
