* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-gap: 20px;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

h1 {
  padding: 5px;
  text-align: center;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
}

nav li {
  padding: 10px;
  font-family: "Poppins", sans-serif;
}

.artist-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
}

.artist-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transition: all 0.1s;
  background-size: cover;
}
/* .artist-list li:nth-child(1) div {
  background-image: url(/src/images/MC.jpeg);
}
.artist-list li:nth-child(2) div {
  background-image: url(/src/images/wham!.png);
}
.artist-list li:nth-child(3) div {
  background-image: url(/src/images/nsync.jpg);
}
.artist-list li:nth-child(4) div {
  background-image: url(/src/images/MB.png);
}

.artist-list li:nth-child(5) div {
  background-image: url(/src/images/kidsbop.png);
}*/
.artist-pic:hover {
  transform: scale(1.1);
}

.artist-list li {
  position: relative;
}

.artist-list li:hover .close {
  position: absolute;
  display: block;
  height: 40px;
  width: 40px;
  z-index: 100;
  right: -10px;
  top: -10px;
}

.artist-list li:last-of-type .plus-sign {
  position: relative;
}

.artist-list li:last-of-type .add-plus {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.artist-list .plus-sign {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.add-artist {
  height: 100px;
  position: relative;
  border-radius: 15px;
  display: none;
}

.add-artist input {
  position: absolute;
  top: 15px;
  left: 10px;
  width: 180px;
  text-align: center;
}

.add-artist button {
  position: absolute;
  top: 60px;
  left: 10px;
  width: 180px;
}

.artist-list li:last-of-type:hover .add-artist {
  display: block;
}
