@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

:root {
  --color1-bottle-green: hsla(154, 73%, 38%, 1);
  --color2-sizzling-red: rgb(255, 53, 67);
  --color3-white: hsla(0, 0%, 100%, 1);
  --color4-dim-gray: hsla(240, 2%, 41%, 1);
  --color5-gainsboro: hsla(207, 4%, 91%, 1);
  --color6-rich-black: #050609;
}

#artist-name {
  font-size: 40pt;
  font-family: "Poppins", cursive;
  cursor: pointer;
}

#artist-name:hover {
  font-weight: bolder;
  text-shadow: 0 -3px 3px aliceblue;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

.container {
  background-color: var(--color1-bottle-green);
}

h1 {
  font-family: "Courgette", cursive;
}

nav {
  background-color: var(--color2-sizzling-red);
}
.artist-name {
  color: var(--color6-rich-black);
  display: inline-block;
  margin-top: 20px;
  font-size: 20pt;
  font-family: "Poppins", sans-serif;
}
.artist-list li:hover span {
  font-weight: bolder;
  text-shadow: 0 -2px 2px aliceblue;
}

.artist-list li:hover div {
  box-shadow: 0 -2px 2px aliceblue, 0 0 2px aliceblue inset;
  filter: grayscale(0.7);
}

.random-artist h1 {
  font-size: 50pt;
}

.artist-list li:hover:not(:last-of-type) .close {
  background-color: var(--color2-sizzling-red);
  border-radius: 50%;
  line-height: 40px;
  font-family: "Poppins";
  visibility: visible;
  cursor: pointer;
  font-weight: bolder;
  font-size: 17pt;
}

.artist-list li span, .artist-list div {
  cursor: pointer;
}

.artist-list .close {
  visibility: hidden;
}

.artist-list li:last-of-type .plus-sign {
  font-size: 100pt;
  line-height: 100pt;
  background-color: var(--color5-gainsboro);
  cursor: pointer;
}

.artist-list .add-artist {
  background-color: var(--color5-gainsboro);
}

.artist-img {
  height: 200px;
  width: 200px;
  margin: 20px auto 0 auto;
  background-size: cover;
  border-radius: 50%;
  cursor: pointer;
}

.artist-img:hover {
  transform: scale(1.1);
  filter: grayscale(0.7);
}

.album-img {
  height: 400px;
  width: 400px;
  margin: 0 auto;
  background-size: contain;
  border-radius: 20px;
  cursor: pointer;
}